.ubroadcast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;

  border-radius: 5px;
  padding: 20px;
  width: auto;
  box-sizing: border-box;
}
.ubroadcast-container h4 {
  margin: 0px;
  margin-bottom: 10px;
}

.to-label {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  padding: 3px;
}

.to-address {
  margin-right: 5px;
  background-color: lightgrey;
  font-size: 12px;
  padding: 3px;
  color: white;
  border-radius: 5px;
}

/*BUTTON*/
.ubroadcast-button {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 2px;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.ubroadcast-button .logo path {
  fill: #fc4f37; /* original color */
}
.ubroadcast-button .logo {
  transition: all 0.5s ease; /* smooth transition */
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.default .ubroadcast-button:hover .logo path {
  transform: rotate(360deg);
  fill: #000;
}
.default .ubroadcast-button:hover .logo {
  transform: rotate(360deg);
  fill: #000;
}
.light .ubroadcast-button:hover .logo path {
  transform: rotate(360deg);
  fill: #000;
}
.light .ubroadcast-button:hover .logo {
  transform: rotate(360deg);
}
.dark .ubroadcast-button:hover .logo path {
  transform: rotate(360deg);
  fill: #fff;
}
.dark .ubroadcast-button:hover .logo {
  transform: rotate(360deg); /* 360-degree spin */
  fill: #fff; /* new color (red in this example) */
}
.ubroadcast-container input[type="text"],
.ubroadcast-container textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

input[type="text"]:read-only {
  background-color: #f0f0f0;
}

.loading .ubroadcast-button {
  background-color: #ccc;
  cursor: not-allowed;
}

.default .ubroadcast-button {
  background-color: lightgrey;
}

.medium .ubroadcast-button {
  padding: 10px 20px;
}

.ubroadcast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Close button */
.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
