.bannerCards {
  display: flex;
  justify-content: center;
  /* margin-top: -154px; */
  z-index: 1;
  position: relative;
  /* height: 308px; */
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.headerBox{
  background-color: var(--ifm-background-color)
}