@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-432 {
    width: 432px;
  }
}

@layer base {
  :root {
    /* Docusaurus themeing*/

    /* Docusaurus color */
    --ifm-color-primary: #5a2895;
    --ifm-color-primary-dark: #512486;
    --ifm-color-primary-darker: #4c227f;
    --ifm-color-primary-darkest: #3f1c68;
    --ifm-color-primary-light: #632ca4;
    --ifm-color-primary-lighter: #672eab;
    --ifm-color-primary-lightest: #7534c2;
    --ifm-code-font-size: 95%;
    --ifm-footer-background-color: #171717;

    /*Tailwind colors*/
    --ifm-navbar-link-hover-color: #ef4444; /*red 500*/
    --ifm-navbar-link-color: var(--ifm-navbar-link-hover-color);
    --ifm-navbar-font-size: 14px;

    /* --ifm-font-family-monospace: 'Inconsolata', SFMono-Regular, ui-monospace, 
      Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace; */

    --font-code: var(--ifm-font-family-monospace) !important;
    --font-mono: var(--ifm-font-family-monospace) !important;

    --font-ui: 'Inter', -apple-system, ui-sans-serif, system-ui,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';

    --font-prose: var(--font-ui);

    --ifm-heading-font-family: var(--font-ui);
    --ifm-font-family-base: var(--font-ui);

    /* --ifm-code-font-size: 100%; */

    --ifm-background-color: #fff;

    --shadow-color: rgb(255 255 255 / 85%);

    --max-width: 1440px;
  }
  [data-theme='light'] {
    --ifm-footer-background-color: #171717;
    --backdrop-mobile-menu: rgba(255, 255, 255, 0.95);
    --header-back-img: url('/img/background.jpg');
    --header-bg-color: white;
    --header-box-background: #fff;
    --toc-link-color: #525252;
  }

  /* For readability concerns, you should choose a lighter palette in dark mode. */
  [data-theme='dark'] {
    --ifm-color-primary: #be91ec;
    --ifm-color-primary-dark: #ab71e6;
    --ifm-color-primary-darker: #a364e4;
    --ifm-color-primary-darkest: #8430db;
    --ifm-color-primary-light: #d1b1f2;
    --ifm-color-primary-lighter: #dbc2f4;
    --ifm-color-primary-lightest: #f8f2fd;
    --ifm-heading-color: #fff;
    --shadow-color: rgb(23 23 23 / 85%);
    --backdrop-mobile-menu: rgba(0, 0, 0, 0.95);
    --header-back-img: url('/img/dark-background.jpg');
    --header-bg-color: black;
    --header-box-background: #171717;
    --toc-link-color: #a3a3a3;
  }

  html[data-theme='dark'] {
    --ifm-background-color: black;
  }

  /* From original custom.css */

  .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
  }

  [data-theme='dark'] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
}

/* Override Docusaurus styling*/

.container {
  max-width: var(--max-width) !important;
}

/* .navbar {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(15px);
  box-shadow: none;
}

[data-theme='dark'] .navbar {
  background-color: rgba(0, 0, 0, 0.95);
  box-shadow: none;
} */

.navbar__client__dropdown {
  display: flex;
}

.navbar__client__dropdown__icon img {
  width: 16.8px;
  margin-right: 20px;
  margin-top: 5px;
}
.navbar__client__dropdown_text {
  font: 1.5rem;
}

.navbar__client__dropdown_text p {
  margin: 0;
}

.navbar__client__dropdown_text small {
  color: #a3a3a3;
}

.navbar__item {
  font-size: var(--ifm-navbar-font-size);
}

.navbar__logo__img {
  width: 7rem;
}

.navbar__inner {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 3rem;
}

.navbar__item .dropdown__menu {
  width: 448px;
}

.navbar-sidebar__backdrop {
  background-color: var(--backdrop-mobile-menu);
}

.navbar-sidebar {
  margin: 9px;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%),
    0px 4px 6px -2px rgb(0 0 0 / 5%), 0px 0px 0px 1px rgb(0 0 0 / 5%);
}

.menu__link--active {
  color: var(--ifm-menu-color);
  background-color: transparent !important;
}

.menu__list-item {
  margin-bottom: 12px;
}

.inner-div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.inner-div::-webkit-scrollbar {
  display: none;
}

.arrow-icon {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    var(--shadow-color) 37%
  );
}

.footer {
  background-color: black;
}

.footer .container {
  max-width: var(--max-width);
}

.dropdown-carrot::after {
  border-color: currentColor transparent;
  border-style: solid;
  border-width: 0.4em 0.4em 0;
  content: '';
  display: inline-block;
  margin-left: 0.3em;
  position: relative;
  top: 2px;
  transform: translateY(-50%);
}

.footer__item {
  margin-bottom: 1rem;
}

.footer__item .footer__link-item {
  line-height: 0.5rem;
}

.multiline-text-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.multiline-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.homepageHeader {
  background-image: var(--header-back-img);
  background-color: var(--header-bg-color);
}

.table-of-contents__link {
  color: var(--toc-link-color);
}

.table-of-contents__link--active {
  color: #ef4444;
  font-weight: 600;
}

.table-of-contents__left-border {
  border: none;
  padding-left: 0;
}

[aria-label='Scroll back to top'] {
  display: none;
}

li.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-2.menu__list-item
  a,
li.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-3.menu__list-item
  a {
  border-left: thin solid #d3d3d3;
  border-radius: 0;
}

.menu__list-item:not(:first-child) {
  margin-top: 0;
}

.menu__list-item {
  margin-bottom: 0;
}

li.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-2.menu__list-item
  a.menu__link.menu__link--active,
li.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-3.menu__list-item
  a.menu__link.menu__link--active {
  border-left: thin solid #ef4444;
  color: #ef4444 !important;
}

@media only screen and (max-width: 1280px) {
  .navbar__inner {
    margin: 0;
    padding: 0;
  }
}
