/* Container */
.usubscribe-button-container {
  position: relative;
  display: inline-block;
  border-radius: 5px;
}
.centered {
  z-index: 1;
  overflow: hidden;
  position: relative;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;
  transition: background 180ms ease 0s;
  box-shadow: rgb(237, 237, 237) 0px 0px 0px 1px inset;
  background: rgb(255, 255, 255);
}
/* Button Styles */
.usubscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 2px;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.usubscribe-button {
  font-weight: bold;
}
/* Themes */
.default .usubscribe-button {
  color: #333333;
}
.default .usubscribe-button {
  background-color: #ededed;
}

.dark .usubscribe-button {
  color: #ffffff;
}
.dark .usubscribe-button {
  background-color: #333333;
}
.light .usubscribe-button {
  color: #333333;
}
.light .usubscribe-button {
  background-color: #fff;
  border: 1px solid #333333;
}
/* Sizes */
.medium .usubscribe-button {
  font-size: 12px;
}

.small .usubscribe-button {
  font-size: 12px;
}

.large .usubscribe-button {
  font-size: 16px;
}

.dropdown-icon {
  margin-left: 5px;
  font-size: 0.8em; /* Adjust size as needed */
}

/* Define the initial styles for the logo and cp icons */
.usubscribe-button-container .logo {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  transform-origin: center;
}
/* Initial fill color */
.usubscribe-button-container .logo path {
  fill: #fc4f37; /* original color */
}

.loading .logo {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Hover effect for the logo icon */
.default .usubscribe-button:hover .logo path {
  fill: #000; /* new color (red in this example) */
  cursor: wait; /* Cursor style for loading state */
}
.light .usubscribe-button:hover .logo path {
  fill: #000; /* new color (red in this example) */
  cursor: wait; /* Cursor style for loading state */
}
.dark .usubscribe-button:hover .logo path {
  fill: #fff; /* new color (red in this example) */
  cursor: wait; /* Cursor style for loading state */
}
